/*Dark Theme*/
:root {
    --color-background-page: #121212;
    --color-background-card: #282828;
    --color-text: #FFF;
    --color-accent1: #E66B55;
    --color-accent2: #F08D78;
    --color-accent6: #fbbeb0;

    --font-header: "Lilita One", Arial Black, sans-serif;
    --font-body: "Solway", Georgia, serif;
}

/*Light theme*/
/*:root {
    --color-background-page: #E0D3DE;
    --color-background-card: #FFF;
    --color-text: #000;
    --color-accent1: #E66B55;
    --color-accent2: #F08D78;
    --color-accent6: #fbbeb0;
}*/

body {
    background: var(--color-background-page);
    color: var(--color-text);
    font-family: var(--font-body);
    font-weight: 400;
}

h2 {
    margin: 0px;
    margin-bottom: 10px;
    color: var(--color-accent2);
    font-family: var(--font-header);
}

h1 {
    color: var(--color-accent1);
    font-family: var(--font-header);
}

a {
    color: inherit;
    text-decoration-line: none;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.navbar {
    background: var(--color-background-card);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    flex-basis: auto;
}

.card {
    background: var(--color-background-card);
    border-radius: 10px;
}

/*Icons*/

svg.icon {
    display: inline;
    height: 1.5em;
    width: 1.5em;
    vertical-align: top;
    fill: currentColor;
}

.trophy.icon {
    color: #ffc048;
    position: absolute;
}

/*Index Page*/

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-y: scroll;
}

.sessionCard {
    height: 300px;
    margin: 20px;
    padding: 15px;
    font-size: 1.5em;
    position: relative;
    overflow: hidden;
}

.sessionCardImg {
    position: absolute;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.sessionCardImg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.sessionCardHeader {
    display: flex;
    justify-content: space-between;
    position: relative;
    font-family: var(--font-header);
}

/*Session Page*/

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sessionContent {
    display: flex;
    justify-content: space-between;
    flex: 1 1 100%;
    overflow: auto;
}

.gameInfo {
    margin: 10px;
    padding: 15px;

    flex: 1 1 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.gameHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.gameImg {
    min-height: 0;
    min-width: 0;
    margin-top: 15px;
}

.teamInfo {
    flex-basis: 60%;
    overflow: scroll;
    margin: 10px;
}

.team {
    background: var(--color-background-card);
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    padding: 10px;
    position: relative;
}

.player {
    /*font-size: 15px;*/
}